<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fool Portal</title>
    {{ vite_entry_link_tags('app') }}
    {{ vite_entry_script_tags('app') }}
</head>
<body>
<div id="root"></div>
</body>
</html>
