<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fool Portal</title>
    {{ vite_entry_link_tags('app') }}
    {{ vite_entry_script_tags('app') }}
</head>
<body>
<input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
<div id="root"></div>
</body>
</html>
