<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Student Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {{ vite_entry_link_tags('app') }}
    {{ vite_entry_script_tags('app') }}
</head>
<body>
<div id="root"></div>
<input type="hidden" id="_csrf_token" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
</body>
</html>
